body {
	margin: 20px 0;
	background-color: rgb(249, 249, 249);
}

.pie-link {
	cursor: pointer;
}

.pie-checkbox, 
input[type=checkbox].pie-checkbox {
	margin-right: 10px;
}

.pie-menu {
	position: fixed;
}